-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: ai_pulse_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT (uuid()),
  `product_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vendor_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Primary vendor for replenishment',
  `warehouse_location` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DEFAULT' COMMENT 'Warehouse code or bin location',
  `quantity_on_hand` int NOT NULL DEFAULT '0' COMMENT 'Current physical stock count',
  `quantity_reserved` int NOT NULL DEFAULT '0' COMMENT 'Stock committed to open orders (soft lock)',
  `quantity_on_order` int NOT NULL DEFAULT '0' COMMENT 'Quantity in transit from vendor',
  `safety_stock_level` int NOT NULL DEFAULT '0' COMMENT 'Minimum buffer before alert is raised',
  `reorder_point` int NOT NULL DEFAULT '0' COMMENT 'Level at which PO should be triggered',
  `reorder_quantity` int NOT NULL DEFAULT '0' COMMENT 'Standard order batch size (EOQ)',
  `last_restock_date` date DEFAULT NULL,
  `next_restock_eta` date DEFAULT NULL,
  `version` bigint unsigned NOT NULL DEFAULT '0' COMMENT 'Optimistic locking version ΓÇö incremented on every stock update',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_inventory_product_location` (`product_id`,`warehouse_location`),
  KEY `idx_inventory_vendor` (`vendor_id`),
  KEY `idx_inventory_low_stock` (`quantity_on_hand`,`reorder_point`),
  KEY `idx_inventory_version` (`version`),
  KEY `inventory_vendor_id` (`vendor_id`),
  KEY `inventory_quantity_on_hand_reorder_point` (`quantity_on_hand`,`reorder_point`),
  CONSTRAINT `inventory_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `inventory_ibfk_2` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_qty_on_hand` CHECK ((`quantity_on_hand` >= 0)),
  CONSTRAINT `chk_qty_on_order` CHECK ((`quantity_on_order` >= 0)),
  CONSTRAINT `chk_qty_reserved` CHECK ((`quantity_reserved` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Real-time inventory state per product per warehouse. version enforces OCC.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT (uuid()),
  `sku` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Stock Keeping Unit ΓÇö globally unique product code',
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `category` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `brand` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit_price` decimal(12,4) NOT NULL COMMENT 'Price in base currency',
  `unit_of_measure` enum('UNIT','KG','LITRE','BOX','PACK') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'UNIT',
  `version` bigint unsigned NOT NULL DEFAULT '0' COMMENT 'Optimistic locking version ΓÇö auto-incremented by Sequelize on every save',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_product_sku` (`sku`),
  KEY `idx_product_category` (`category`),
  KEY `idx_product_active` (`is_active`),
  KEY `idx_product_brand_category` (`brand`,`category`),
  KEY `products_category` (`category`),
  KEY `products_is_active` (`is_active`),
  KEY `products_brand_category` (`brand`,`category`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master product catalog. version column enforces optimistic locking.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_orders`
--

DROP TABLE IF EXISTS `purchase_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_orders` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT (uuid()),
  `po_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Auto-generated sequential PO identifier',
  `vendor_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `line_items` json NOT NULL COMMENT 'Array of { productId, quantity, unitCost }',
  `total_units` int NOT NULL DEFAULT '0',
  `total_cost` decimal(14,2) NOT NULL DEFAULT '0.00',
  `status` enum('PENDING','APPROVED','DISPATCHED','RECEIVED','CANCELLED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `expected_delivery_date` date DEFAULT NULL,
  `created_by` char(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'FK to users.id ? manager who raised PO',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_po_number` (`po_number`),
  UNIQUE KEY `po_number` (`po_number`),
  KEY `idx_po_status` (`status`),
  KEY `idx_po_vendor` (`vendor_id`),
  KEY `idx_po_created_at` (`created_at`),
  KEY `fk_po_created_by` (`created_by`),
  CONSTRAINT `purchase_orders_ibfk_1` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Purchase orders for stock replenishment. status tracks lifecycle.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_orders`
--

LOCK TABLES `purchase_orders` WRITE;
/*!40000 ALTER TABLE `purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trend_signals`
--

DROP TABLE IF EXISTS `trend_signals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trend_signals` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT (uuid()),
  `product_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `signal_source` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'GEMINI_AI | GOOGLE_TRENDS | TWITTER | SEASONAL | MANUAL',
  `signal_type` enum('DEMAND_SPIKE','DEMAND_DROP','SEASONAL_PEAK','SEASONAL_TROUGH','COMPETITOR_STOCKOUT','PRICE_SENSITIVITY','SOCIAL_BUZZ','CUSTOM') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Standardized signal category for the scoring engine',
  `signal_score` decimal(5,4) NOT NULL COMMENT 'Normalized signal strength [0.0000 ΓÇô 1.0000]',
  `weight` decimal(5,4) NOT NULL DEFAULT '1.0000' COMMENT 'Relative importance weight for the scoring model',
  `raw_payload` json DEFAULT NULL COMMENT 'Full AI response blob ΓÇö for audit, debugging, and reprocessing',
  `signal_date` date NOT NULL,
  `expires_at` datetime DEFAULT NULL COMMENT 'Signals past this timestamp are excluded from active forecasting',
  `ingested_at` datetime NOT NULL,
  `keyword` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'The search keyword that produced this signal (e.g., "Winter coming")',
  PRIMARY KEY (`id`),
  KEY `idx_signal_product_date` (`product_id`,`signal_date`),
  KEY `idx_signal_type_source` (`signal_type`,`signal_source`),
  KEY `idx_signal_score` (`signal_score`),
  KEY `idx_signal_expires` (`expires_at`),
  KEY `trend_signals_product_id_signal_date` (`product_id`,`signal_date`),
  KEY `trend_signals_signal_type_signal_source` (`signal_type`,`signal_source`),
  KEY `trend_signals_signal_score` (`signal_score`),
  KEY `trend_signals_expires_at` (`expires_at`),
  CONSTRAINT `trend_signals_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_signal_score_range` CHECK ((`signal_score` between 0.0000 and 1.0000)),
  CONSTRAINT `chk_weight_range` CHECK ((`weight` between 0.0000 and 10.0000))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='External trend/demand signals for forecasting. Normalized to [0,1].';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trend_signals`
--

LOCK TABLES `trend_signals` WRITE;
/*!40000 ALTER TABLE `trend_signals` DISABLE KEYS */;
/*!40000 ALTER TABLE `trend_signals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT (uuid()),
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'bcrypt hash ΓÇö never expose in API responses',
  `role` enum('ADMIN','MANAGER','WAREHOUSE','VIEWER') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'VIEWER',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_email` (`email`),
  KEY `idx_user_role` (`role`),
  KEY `users_email` (`email`),
  KEY `users_role` (`role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='App users with RBAC roles: ADMIN | MANAGER | VIEWER';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_low_stock_alerts`
--

DROP TABLE IF EXISTS `v_low_stock_alerts`;
/*!50001 DROP VIEW IF EXISTS `v_low_stock_alerts`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_low_stock_alerts` AS SELECT 
 1 AS `sku`,
 1 AS `product_name`,
 1 AS `category`,
 1 AS `warehouse_location`,
 1 AS `quantity_on_hand`,
 1 AS `reorder_point`,
 1 AS `safety_stock_level`,
 1 AS `units_deficit`,
 1 AS `vendor_name`,
 1 AS `avg_lead_days`,
 1 AS `next_restock_eta`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_vendor_reliability`
--

DROP TABLE IF EXISTS `v_vendor_reliability`;
/*!50001 DROP VIEW IF EXISTS `v_vendor_reliability`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_vendor_reliability` AS SELECT 
 1 AS `id`,
 1 AS `name`,
 1 AS `total_deliveries`,
 1 AS `on_time_deliveries`,
 1 AS `avg_lead_days`,
 1 AS `reliability_pct`,
 1 AS `reliability_tier`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `vendors`
--

DROP TABLE IF EXISTS `vendors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendors` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT (uuid()),
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_email` varchar(320) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` text COLLATE utf8mb4_unicode_ci,
  `total_deliveries` int unsigned NOT NULL DEFAULT '0',
  `on_time_deliveries` int unsigned NOT NULL DEFAULT '0',
  `avg_lead_days` decimal(5,2) NOT NULL DEFAULT '0.00' COMMENT 'Rolling average lead time in days',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_vendor_email` (`contact_email`),
  KEY `idx_vendor_active` (`is_active`),
  KEY `vendors_is_active` (`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Supplier/vendor master registry with reliability scoring';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendors`
--

LOCK TABLES `vendors` WRITE;
/*!40000 ALTER TABLE `vendors` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `v_low_stock_alerts`
--

/*!50001 DROP VIEW IF EXISTS `v_low_stock_alerts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_low_stock_alerts` AS select `p`.`sku` AS `sku`,`p`.`name` AS `product_name`,`p`.`category` AS `category`,`i`.`warehouse_location` AS `warehouse_location`,`i`.`quantity_on_hand` AS `quantity_on_hand`,`i`.`reorder_point` AS `reorder_point`,`i`.`safety_stock_level` AS `safety_stock_level`,(`i`.`reorder_point` - `i`.`quantity_on_hand`) AS `units_deficit`,`v`.`name` AS `vendor_name`,`v`.`avg_lead_days` AS `avg_lead_days`,`i`.`next_restock_eta` AS `next_restock_eta` from ((`inventory` `i` join `products` `p` on((`p`.`id` = `i`.`product_id`))) join `vendors` `v` on((`v`.`id` = `i`.`vendor_id`))) where ((`i`.`quantity_on_hand` <= `i`.`reorder_point`) and (`p`.`is_active` = 1)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_vendor_reliability`
--

/*!50001 DROP VIEW IF EXISTS `v_vendor_reliability`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_vendor_reliability` AS select `vendors`.`id` AS `id`,`vendors`.`name` AS `name`,`vendors`.`total_deliveries` AS `total_deliveries`,`vendors`.`on_time_deliveries` AS `on_time_deliveries`,`vendors`.`avg_lead_days` AS `avg_lead_days`,(case when (`vendors`.`total_deliveries` = 0) then NULL else round(((`vendors`.`on_time_deliveries` / `vendors`.`total_deliveries`) * 100),2) end) AS `reliability_pct`,(case when (`vendors`.`total_deliveries` = 0) then 'UNRATED' when ((`vendors`.`on_time_deliveries` / `vendors`.`total_deliveries`) >= 0.90) then 'GOLD' when ((`vendors`.`on_time_deliveries` / `vendors`.`total_deliveries`) >= 0.75) then 'SILVER' else 'AT_RISK' end) AS `reliability_tier` from `vendors` where (`vendors`.`is_active` = 1) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-15 21:30:39
